<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <%- include("partials/navbar.ejs") %>

    <div class="formContainers">
      <div class="formContainer">
        <form method="POST" action="/addGame">
          <label for="newGame">Add new game:</label>
          <input type="text" id="newGame" name="newGame">
          <button type="submit">Add</button>
        </form>
        <form method="POST" action="removeGame">
          <label for="removeGame">Remove a game:</label>
          <select name="removeGame" id="removeGame">
            <% games.forEach((game) => { %>
              <option value='<%= game.title %>''><%= game.title %></option>
            <% }) %>
            </select>
          <button type="submit">Remove</button>
        </form>
      </div>

      <div class="formContainer">
        <form method="POST" action="/addDev">
          <label for="newDev">Add new developer:</label>
          <input type="text" id="newDev" name="newDev">
          <button type="submit">Add</button>
        </form>
        <form method="POST" action="removeDev">
          <label for="removeDev">Remove a developer:</label>
          <select name="removeDev" id="removeDev">
            <% devs.forEach((dev) => { %>
              <option value='<%= dev.dev_name %>''><%= dev.dev_name %></option>
            <% }) %>
            </select>
          <button type="submit">Remove</button>
        </form>
      </div>
    
      <div class="formContainer">
        <form method="POST" action="/addGenre">
          <label for="newGenre">Add new genre:</label>
          <input type="text" id="newGenre" name="newGenre">
          <button type="submit">Add</button>
        </form>
        <form method="POST" action="removeGenre">
          <label for="removeGenre">Remove a genre:</label>
          <select name="removeGenre" id="removeGenre">
            <% genres.forEach((genre) => { %>
              <option value='<%= genre.genre_name %>''><%= genre.genre_name %></option>
            <% }) %>
            </select>
          <button type="submit">Remove</button>
        </form>
      </div>

      <div class="formContainer">
        <form method="POST" action="/addPrice">
          <label for="newPrice">Add new price:</label>
          <input type="number" min="0" step=".01" inputmode="decimal" id="newPrice" name="newPrice">
          <button type="submit">Add</button>
        </form>
        <form method="POST" action="removePrice">
          <label for="removePrice">Remove a price:</label>
          <select name="removePrice" id="removePrice">
            <% prices.forEach((price) => { %>
              <option value='<%= price.price %>''><%= price.price %></option>
            <% }) %>
            </select>
          <button type="submit">Remove</button>
        </form>
      </div>

      <!-- <div class="formContainer">
        <form method="POST" action="/addGenre">
          <label for="newGenre">Add new genre:</label>
          <input type="text" id="newGenre" name="newGenre">
          <button type="submit">Add</button>
        </form>
      </div>

      <div class="formContainer">
        <form method="POST" action="/addGenre">
          <label for="newGenre">Add new genre:</label>
          <input type="text" id="newGenre" name="newGenre">
          <button type="submit">Add</button>
        </form>
      </div> -->
          
    </div>

    <%- include("partials/footer.ejs") %>
  </body>
</html>