<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <%- include("partials/navbar.ejs") %>

    <div class="formContainers">
      <div class="formContainer">
        <div>Add new game:</div>
        <form method="POST" action="/addGame">
          <label for="newGame">Title:</label>
          <input type="text" id="newGame" name="newGame" required><br><br>
          <div class="checkboxContainer">
            <div>Developer(s):<br>
            <% devs.forEach((dev) => { %>
              <label for="<%= dev.dev_name %>"><%= dev.dev_name %></label>
              <input type="checkbox" id="<%= dev.dev_name %>" name="<%= dev.dev_name %>" value="<%= dev.dev_name %>"><br>
              <% }) %>
            </div><br>
            <div>Genre(s):<br>
            <% genres.forEach((genre) => { %>
              <label for="<%= genre.genre_name %>"><%= genre.genre_name %></label>
              <input type="checkbox" id="<%= genre.genre_name %>" name="<%= genre.genre_name %>" value="<%= genre.genre_name %>"><br>
              <% }) %>
            </div><br>
          </div><br>
          <div class="priceAndStockContainer">
            <label for="price">Price:</label>
            <select name="price" id="price">
              <% prices.forEach((price) => { %>
                <option value='<%= price.price %>''><%= price.price %></option>
              <% }) %>
            </select>
            <label for="stock">Stock:</label>
            <input type="number" id="stock" name="stock" min="0" value="0">
          </div><br>
          <button type="submit" class="biggerButton">Add</button>
        </form><br>
        <form method="POST" action="removeGame">
          <label for="removeGame">Remove a game:</label>
          <select name="removeGame" id="removeGame">
            <% games.forEach((game) => { %>
              <option value='<%= game.title %>''><%= game.title %></option>
            <% }) %>
            </select>
          <button type="submit">Remove</button>
        </form>
      </div>

      <div class="formContainer">
        <form method="POST" action="/addDev">
          <label for="newDev">Add new developer:</label>
          <input type="text" id="newDev" name="newDev">
          <button type="submit">Add</button>
        </form>
        <form method="POST" action="removeDev">
          <label for="removeDev">Remove a developer:</label>
          <select name="removeDev" id="removeDev">
            <% devs.forEach((dev) => { %>
              <option value='<%= dev.dev_name %>''><%= dev.dev_name %></option>
            <% }) %>
            </select>
          <button type="submit">Remove</button>
        </form>
      </div>
    
      <div class="formContainer">
        <form method="POST" action="/addGenre">
          <label for="newGenre">Add new genre:</label>
          <input type="text" id="newGenre" name="newGenre">
          <button type="submit">Add</button>
        </form>
        <form method="POST" action="removeGenre">
          <label for="removeGenre">Remove a genre:</label>
          <select name="removeGenre" id="removeGenre">
            <% genres.forEach((genre) => { %>
              <option value='<%= genre.genre_name %>''><%= genre.genre_name %></option>
            <% }) %>
            </select>
          <button type="submit">Remove</button>
        </form>
      </div>

      <div class="formContainer">
        <form method="POST" action="/addPrice">
          <label for="newPrice">Add new price:</label>
          <input type="number" min="0" step=".01" inputmode="decimal" id="newPrice" name="newPrice">
          <button type="submit">Add</button>
        </form>
        <form method="POST" action="removePrice">
          <label for="removePrice">Remove a price:</label>
          <select name="removePrice" id="removePrice">
            <% prices.forEach((price) => { %>
              <option value='<%= price.price %>''><%= price.price %></option>
            <% }) %>
            </select>
          <button type="submit">Remove</button>
        </form>
      </div>

      <!-- <div class="formContainer">
        <form method="POST" action="/addGenre">
          <label for="newGenre">Add new genre:</label>
          <input type="text" id="newGenre" name="newGenre">
          <button type="submit">Add</button>
        </form>
      </div>

      <div class="formContainer">
        <form method="POST" action="/addGenre">
          <label for="newGenre">Add new genre:</label>
          <input type="text" id="newGenre" name="newGenre">
          <button type="submit">Add</button>
        </form>
      </div> -->
          
    </div>

    <%- include("partials/footer.ejs") %>
  </body>
</html>